body{
background-image: url("./The_Earth_seen_from_Apollo_17.jpg");
background-repeat: no-repeat;
background-color: #000;
background-position: -500px 0;
}
h1{
font-family: Helvetica, sans-serif;
font-size: 100px;
color: #fff;
width: 660px;
margin-left: 100px;
}