@import url('https://fonts.googleapis.com/css2?family=Modak&family=Mountains+of+Christmas:wght@400;700&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Typsnitt
  font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
   */

/* Sidlayout */
body {}

.kontainer {}

/* Sidhuvud */
.sidhuvud {}

.sidhuvud .meny {}

.sidhuvud .meny a {}

.sidhuvud .erbjudande {}

/* Sidinnehåll */
.innehall{}
.innehall h2 {}
.innehall .kolumner-3 .burgare {}
.innehall .kolumner-3 .burgare img {}
.innehall .kolumner-3 .burgare p {}