@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* sidan */
body {
    background-image: url(./mandy-choi-_qZ0us4az20-unsplash.jpg);
}

.kontainer {
    width: 1000px;
    margin: auto;
    padding: 20px;
}

/* bygga layouten */

.kontainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "sidhuvud sidhuvud"
        "artiklarna sidebar"
        "sidfot sidfot";
    gap: 20px;
}

header {
    grid-area: sidhuvud;
    
}

main {
    grid-area: artiklarna;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

aside {
    grid-area: sidebar;
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
}

footer {
    grid-area: sidfot;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

/* Sidhuvud */
header {
    color: #fff;
    font-family: "Rubik", serif;
}

header h1 {
    font-size: 80px;
}

header h2 {}

/* Menyn */
header nav {
   background: rgb(56, 136, 4);
    background: linear-gradient(0deg, rgba(56, 136, 4, 1) 0%, rgba(26, 106, 47, 1) 35%, rgba(169, 237, 1, 1) 100%);
    ;
    padding: 20px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

header nav a.aktiv {background: rgb(4,125,95);
    background: linear-gradient(0deg, rgba(4,125,95,1) 0%, rgba(26,106,92,1) 35%, rgba(1,237,111,1) 100%);}

header nav a:hover {background: rgb(4,125,95);
    background: linear-gradient(0deg, rgba(4,125,95,1) 0%, rgba(26,106,92,1) 35%, rgba(1,237,111,1) 100%);}

/* Sidan innehåll - artiklar, text mm */
main {}

main article {}

main article h3 {}

main article figure {
    width: 50%;
    margin: auto;
    padding: 30px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
}

main figure img {}

main figure figcaption {}

main p {}

/* Sidobar */
aside {}

aside h4 {}

aside p {}

/* Sidfoten */
footer {}

footer p {}