body {
background-color: aliceblue;
}
table {
background-color: aliceblue;
width: 1000px;
margin: auto;
}
caption {
background-color: beige;
padding: 10px;
font-size: 50px;
color: white;
font-weight: bold;
background-image: url(./158_cop2-1.webp);
}
tr {

}
th {
padding: 15px;
font-size: 25px;
}
td {
background-color: blanchedalmond;
padding: 10px;
}
img {

} 
img {
width: 150px;
}