@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Faster+One&family=Gloria+Hallelujah&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./Bilder/holly-mandarich--7Qrway2WIY-unsplash.jpg");
    background-color: #fff;
    background-size: cover;
    

}

.kontainer {
    color: #fff;
}

.box {
    display: flex;
    gap: 10px;

}

h1 {
    font-family: "Gloria Hallelujah", cursive;
    color: #4E5283;
    padding: 10px;
}

h2 {
    margin-top: 20px;
    font-family: "Gloria Hallelujah", cursive;
    color: #4E5283;
}

p {
    height: 150px;
    margin-top: 20px;
    font-family: "Gloria Hallelujah", cursive;
    color: #9b99ad;
}

img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    margin-top: 10px;
}

caption {
    padding: 10px;
    border: 1px solid #9b99ad;
    font-family: "Gloria Hallelujah", cursive;
    border-radius: 10px;
}
table{
border: 2px solid #9b99ad;
font-family: "Gloria Hallelujah", cursive;
margin-top: 15px;
color: #9b99ad;
border-radius: 10px;
margin-left: 20px;
}
tr{

}
th{
    padding: 10px;
    border: 2px solid #9b99ad ;
    font-family: "Gloria Hallelujah", cursive;
}
td{
    padding: 10px;
    border: 2px solid #9b99ad;
}
div{
    padding: 10px;
    background-color: #ffffff08;
}