@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Layoutens utseende */
body.sida1 {
    background-image: url("./bilder/caribbean-man-883376_640.jpg");
}
body.sida2 {
    background-image: url("./bilder/avocado-6094271_640.jpg");
}
body.sida3 {
    background-image: url("./bilder/cosmos-5809271_640.png");
}
body.sida4 {
    background-image: url("./bilder/halloween-9005455_640.png");
}
body.sida5 {
    background-image: url("./bilder/seamless-1315302_640.jpg");
}
body.sida6 {
    background-image: url("./bilder/texture-1545368_640.png");
}

div {
    background-color: #fff;
    width: 500px;
    border: 5px dashed #555;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
    font-family: "Open Sans", system-ui;
}

/* Innehållets utseende */
h1 {
font-size: 25px;
margin-bottom: 15px;
font-family: "Open Sans", sans-serif;
}
p {
    font-size: 18px;
}
a {
text-decoration: none;
font-size: 40px;
font-weight: bold;
color: rgb(67, 154, 211);
}